@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: 'Literata', Georgia, 'Times New Roman', Times, Roman, serif;  font-size: 1.111111em; /*20 /18 = 1*/
  background: #3366cc;
  font-size: 1.125em;
}
